# generated build artifacts from vivado
build/
*.o
*.out
*.log
*.html
_xmsgs/

# sim artifacts
.asbd
.awc
.lib
.mgf
.data
.index
ghdl_libs/

# vivado project file
*.xpr
.srcs/*
!.srcs/**/*.xci
!.srcs/bd/**/*.bd
!.srcs/bd/**/*.vhd

# tmp
*~
*.tmp
.DS_Store

.vscode/
.cursor/
